USE [master]
GO
/****** Object:  Database [BT_NHOM_ETL]    Script Date: 3/18/2023 9:14:20 PM ******/
CREATE DATABASE [BT_NHOM_ETL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BT_NHOM_ETL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BT_NHOM_ETL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BT_NHOM_ETL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BT_NHOM_ETL_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BT_NHOM_ETL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BT_NHOM_ETL]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 3/18/2023 9:14:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerId] [nvarchar](255) NOT NULL,
	[Customer Name] [nvarchar](255) NULL,
	[Segment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocation]    Script Date: 3/18/2023 9:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocation](
	[LocationID] [int] NOT NULL,
	[District] [nvarchar](255) NULL,
	[Province] [nvarchar](255) NULL,
	[Region] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProducts]    Script Date: 3/18/2023 9:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducts](
	[ProductId] [nvarchar](255) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[SubCategory] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 3/18/2023 9:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[TimeID] [int] NOT NULL,
	[OrderYear] [int] NULL,
	[OrderQuarter] [int] NULL,
	[OrderMonth] [int] NULL,
	[OrderDay] [int] NULL,
	[ShipYear] [int] NULL,
	[ShipQuarter] [int] NULL,
	[ShipMonth] [int] NULL,
	[ShipDay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOrder]    Script Date: 3/18/2023 9:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrder](
	[RowId] [float] NOT NULL,
	[OrderId] [nvarchar](255) NULL,
	[TimeID] [int] NULL,
	[LocationID] [int] NULL,
	[CustomerId] [nvarchar](255) NULL,
	[ProductId] [nvarchar](255) NULL,
	[Sales] [float] NULL,
	[Quantity] [float] NULL,
	[Discount] [float] NULL,
	[Profit] [float] NULL,
	[Shipping cost] [float] NULL,
	[ShipMode2] [nvarchar](255) NULL,
	[OrderPriority] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactOrder]  WITH CHECK ADD  CONSTRAINT [fk_Fact_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[DimCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[FactOrder] CHECK CONSTRAINT [fk_Fact_Customer]
GO
ALTER TABLE [dbo].[FactOrder]  WITH CHECK ADD  CONSTRAINT [fk_Fact_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[DimLocation] ([LocationID])
GO
ALTER TABLE [dbo].[FactOrder] CHECK CONSTRAINT [fk_Fact_Location]
GO
ALTER TABLE [dbo].[FactOrder]  WITH CHECK ADD  CONSTRAINT [fk_Fact_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[DimProducts] ([ProductId])
GO
ALTER TABLE [dbo].[FactOrder] CHECK CONSTRAINT [fk_Fact_Product]
GO
ALTER TABLE [dbo].[FactOrder]  WITH CHECK ADD  CONSTRAINT [fk_Fact_Time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[DimTime] ([TimeID])
GO
ALTER TABLE [dbo].[FactOrder] CHECK CONSTRAINT [fk_Fact_Time]
GO
USE [master]
GO
